* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 100vh;
    line-height: 1.5;
    background-image: linear-gradient(to left, #e66465, #9198e5);
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
}

.show_modal {
    width: 300px;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    border-radius: 10rem;
    background-color: #FFFFFF;
    color: #444444;
}

.close_modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70%;
    max-height: 50%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    overflow: scroll;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 1;
}

@media screen and (max-width: 860px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal {
        min-height: 70vh;
        padding: 15%;
    }
}